.container {
    /* background: lightblue;
    cursor: url('https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png') 39 39,
      auto;
    overflow: hidden; */
  }
  
  .deck {
    position: absolute;
    top:50vh;
    width: 100vw;
    height: 200px;
    will-change: transform;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .deck > div {
    touch-action: none;
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 90vw;
    /*max-width: 300px;*/
    height: 80vh;
    /*max-height: 570px;*/
    will-change: transform;
    border-radius: 10px;
    box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4), 0 10px 10px -10px rgba(50, 50, 73, 0.3);
  }
    /*  */
  .containerParalax > div > div {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .text {
    pointer-events: none;
    justify-content: start !important;
    font-family: 'Kanit', sans-serif;
    line-height: 0px;
    text-transform: uppercase;
  }
  
  .number {
    font-size: 300px;
    color: #545864;
  }
  
  .number span {
    display: inline-block;
    position: relative;
  }
  
  .slopeBegin {
    background-color: #20232f;
    clip-path: polygon(20% 0, 70% 0, 50% 100%, 0% 100%);
  }
  
  .slopeEnd {
    clip-path: polygon(70% 0, 100% 0, 80% 100%, 50% 100%);
  }
  
  .slopeBegin,
  .slopeEnd {
    position: absolute;
    width: 170%;
    height: 100%;
    cursor: pointer;
  }
  
  .pink {
    background: linear-gradient(to right, deeppink 0%, coral 100%);
  }
  
  .teal {
    background: linear-gradient(to right, SlateBlue 0%, DeepSkyBlue 100%);
  }
  
  .tomato {
    background: linear-gradient(to right, tomato 0%, gold 100%);
  }
  
  .okIcon{
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
      width:100px;
      height: 100px;
  }
  .okIcon svg{
    width:100%;
    height:100%;
    color: rgb(26, 188, 69);
  }
  
  .noIcon{
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    width:100px;
    height: 100px;
  }
  .noIcon svg{
    width:100%;
    height:100%;
    color: rgb(188, 26, 26);
  }